torch==1.10.1
transformers==4.14.1
pytorch-lightning==1.5.6
wandb==0.12.9

### required for RL Module
mecab-python3==1.0.4
rouge-score==0.0.4

### required for training tokenizer
sentencepiece==0.1.96
httpimport==0.7.2
